.PokeCard {

    width: 200px;
    height: 300px;
    background-color: grey;
    margin: auto;
    padding: 10px;
    text-align: center;
    border-radius: 5px;

}

.PokeCard-image {
    width: 150px;
    border: 1px solid honeydew;

}
