.Pokedex {
    text-align: center;
    color: blue;
}

#grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: 95% 95%;
    margin: 25px auto;
    width: 1000px;
    height: 450px;
    align-items: center;


}
